
<% provide(:title, "Home") %>
<div class="main">


<h1>SmartcastGG</h1>
<div id="ytdiv">

	<iframe class="YoutubeVideo" width="100%" height="400px" src="https://www.youtube.com/embed/videoseries?list=PL6YZkeWa4hQV73_NHf3gMaJsStPDZU4nY" frameborder="0" allowfullscreen></iframe>
	</div>


	<div class="row services">
	<h1>Services</h1>
		<div class="col-md-4 service" id="service1div">
				<div id="iconContainer1">
				<p><h3>Streaming</h3></p>
					<i class="fa fa-video-camera fa-5x" id="service1"></i>
				</div>
		<div id="Information1" >
		<p>We offer full casting services for your event. Streamed in full HD and complete with graphics for your event. Need on site help with the setup of your stream? no problem. SCGG has the hardware to stream just about every esport out there. With SmartcastGG streaming your event, your event will come to life. </p>
		</div>

				
		</div>
		<div class="col-md-4 service row" id="service2div">
			<div id="iconContainer2">
					<p><h3>Casting</h3></p>
					<i class="fa fa-microphone fa-5x" id="service2"></i>
			</div>
			<div id="Information2">
			<p>Imagine having your Esports event having live commentary by people who know the game being played at your event. With SmartcastGG, you'll have access to a full team of people who not only know the game inside out, but also analyze plays that were made and are capable of exciting a crowd.</p>
			</div>
		</div>
		<div class="col-md-4 service row" id="service3div">
				<div id="iconContainer3">
					<p><h3>Hosting</h3></p>
					<i class="fa fa-users fa-5x" id="service3"></i>
				</div>
					<div id="Information3">
					<p>Have an idea for an Esports event but don't quite have the resources to properly host it? At SmartcastGG we count on a team of people that are not only good at talking about their areas of expertise but also have excellent public speaking skills. If you need a face for your event, we can provide it for you. </p>
				</div>
		</div>
	</div>
<div class="socialMedia row">
	<div class="tweets col-sm-6">
		<a class="twitter-timeline" width="530" height="400" href="https://twitter.com/JomSnow901/lists/scgg" data-widget-id="647618758702440448"></a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>

<div class="col-sm-6 ">
	<div>
	<%=image_tag("SCGGnoText.png", alt: "SCGGLogoNoText", id:"SocialLogo") %>
	</div>
<div class="row FollowIcon">

		<div class="FollowIcons Twitter col-xs-4">
			<i class="fa fa-twitter-square fa-4x"></i>
		</div>
		<div class="FollowIcons Facebook col-xs-4">
		<i class="fa fa-facebook-square fa-4x"></i>
		</div>
		<div class="FollowIcons Instagram col-xs-4">
		<i class="fa fa-instagram fa-4x"></i>
		</div>
</div>
</div>
</div>
</div>


</div>

