
<% provide(:title, "Home") %>
<div class="main">

<h1>SmartcastGG</h1>
<div id="ytdiv">

	<iframe class="YoutubeVideo" width="100%" height="400px" src="https://www.youtube.com/embed/videoseries?list=PL6YZkeWa4hQV73_NHf3gMaJsStPDZU4nY" frameborder="0" allowfullscreen></iframe>
	</div>


	<div class="row services">
	<h1>Services</h1>
		<div class="col-md-4 service" id="service1div">
			<p>Streaming</p>
			<i class="fa fa-video-camera fa-5x" id="service1"></i>

		</div>
		<div class="col-md-4 service" id="service2div">
			<p>Casting</p>
			<i class="fa fa-microphone fa-5x" id="service2"></i>
		</div>
		<div class="col-md-4 service" id="service3div">
			<p>Hosting</p>
			<i class="fa fa-users fa-5x" id="service3"></i>
		</div>
	<div class="col-sm-12"id="Information">
	</div>

	</div>

<a class="twitter-timeline" href="https://twitter.com/JomSnow901/lists/scgg" data-widget-id="647618758702440448"></a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

