<div class="main">
<h1>Current Staff and Advisors</h1>
<% counter = 0 %> 
<% @worker.each do |w| %>
	<% if counter == 0 %>
		<div class="row">
	<% end %>
	<div class="col-sm-4 worker">
	<%= image_tag w.avatar.url(:thumb) %>
	 <p><%= w.name %></p>
	 <p><%= w.role %></p>
	 <p><%= w.email %></p>
	 </div>
 	<% counter = counter + 1 %>
 	<% if counter == 3 %>
 	<% counter = 0 %>
 		</div>
 	<% end %>
 <% end %>
 	<% if counter != 0 %>
 	</div>
 	<% end %>

 <h1>Contact Us!</h1>
 <div class="contactUsWork">
 Want to work with us? We're always looking for good talent. Send an email to smartcastpr@gmail.com with your CV/Resume and how you'd like to help!
 </div>
</div>