@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


/* universal */

body {
	color: white;
    background-color: rgba(0, 0, 0, 0.84);
}


section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}


/* Navbar */
.listitem{
	border-right: 1px solid white;
}
.navbar{
	padding-left:10.5%;
	margin-bottom:0px;
	background-color:#152627;
	border-radius:0px;
}
.navbar-default{
	border-color:#152627;
}
#logoNavBar{
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
    max-width: 60px;
    float:left;
}

.navbarcontainer{
		margin-left:7%;
}

.nav{
	margin-left:10px;
}
.nav li a{
 	padding-top: 4px;
 	padding-top: 20px;
     padding-bottom: 19px;
}

.nav li:hover{
	background-color:#e7e7e7;
}

/* Body content */
.main{
	text-align:center;
}

.main h1{
	text-align:left;
	padding-left: 35px;
    padding-bottom: 30px;
    padding-top: 15px;
}

.YoutubeVideo{
	margin-left:auto;
	margin-right:auto;
	max-width: 800px;
}

.bodyWrapper{
	position:relative;
	background-color:#04463D;
	width:100%;
	max-width: 980px;
	    min-height:100vh;
	margin-right:auto;
	margin-left:auto;
	box-shadow: 0px 20px 40px #060606;
}


.jumbotron{
	background-color:#00827C;
	padding-top:20px;
}


.services{
	margin-top:40px;
	margin-bottom:40px;
	text-align: center;
	max-width: 100%;
	margin-left:0px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	padding-bottom: 50px;
}
.services h1{
	text-align: left;
}
.service{
	padding-bottom:10px;
	margin-right: 0px;
	background-color: #152627;
}
.service p{
	font-size: 36px;
}

#service1div{

	background-color:#152627;
	    margin-left: 15px;
}
// #service1div:hover{
// 	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
// 	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
// 	box-shadow: 0 0 10px rgba(0,0,0,0.5);
// }

#service2div{

	background-color:#152627;
}


// #service2div:hover{
// 	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
// 	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
// 	box-shadow: 0 0 10px rgba(0,0,0,0.5);
// }

#service3div{
	
	background-color:#152627;
}
// #service3div:hover{
// 	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
// 	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
// 	box-shadow: 0 0 5px rgba(0,0,0,0.5);
// }

#iconContainer1{
	padding-top:10px;
}
#Information1{
	background-color:#152627;
	    padding: 30px;
	text-align: justify;
}
#Information1 p {
	font-size: 18px;
}


#iconContainer2{
	padding-top:10px;	
}
#Information2 {
	background-color:#152627;
	    padding: 30px;
	text-align: justify;
}
#Information2 p{
	font-size: 18px;
}

#iconContainer3{
	padding-top:10px;	
}
#Information3{
	background-color:#152627;
	    padding: 30px;
	text-align: justify;
}
#Information3 p{
	font-size: 18px;
}

/* Twitter kungfu trickery */
.tweets{
	margin-left:5px;
	max-width: 48%;
}

/* Follow */

.Twitter{
	max-height: 200px;
	background-color:#5DD6FB;
}

.Facebook{
	max-height: 200px;
	background-color:#3765A3;
}

.Instagram{
	background-color:#D5AD18;
	max-height: 200px;
}

.FollowIcon{
	text-align: center;
}
.FollowIcons{
	margin-top:60px;
	max-width: 75px;
	margin-right: auto;
	margin-left:14%;
	border-radius: 6px;
}



#SocialLogo{
	max-height:200px;
	max-width:200px;
	box-shadow: 3px 3px 3px #291E1E;
    border-radius: 8em;
}

/* Sidebar */

// .sidebar{
// 	margin-top:10px;
// 	background-color:#00827C;
// 	height: 100%;
// }



/* Personnel page */
.worker{
	text-align:center;
}
/* @media queries */

@media(max-width:1920px ){
	.navbar{
	    padding-left: 23.5%;
	}
}
@media(max-width: 1280px){
	.navbar{
	    padding-left: 10.5%;
	}
}
@media(max-width: 1080px){
	.navbar{
		padding-left:3.5%;
	}
}
@media(max-width: 1024px){
	.navbar{
		padding-left: 3.5%;
	}
}

@media(max-width: 992px) {
#service1div{
	    margin-left: 0px;
}
.FollowIcons{
	
}
.socialMedia{
	max-width: 100%;
}

.tweets{
	margin-right:auto;
	margin-left:auto;
	max-width: 100%;
}

}
@media(max-width: 800px){
	.navbar{
	    padding-left: 0.5%;
	}
}

@media(max-width: 600px){
	.FollowIcons{
		    margin-left: 13.5%;
		    max-width: 151px;
	}
	#logoNavBar{
		display: none;
	}
	.navbar-collapse{
		     border-top: 0px solid transparent; 
	}
	.navbar{
		padding-left: 0px;
	}
}


/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
    -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}